.card-block-profile{
    background-color: #819CCC;
    padding: 10px;
}

.card-img-top{
    width: 320px;
}

#card{
    width: 320px;
}

.col-lists {
    width: 100%;
}

.long {
    width: 100%;
}

.mid-long {
    width: 50%;
}

tr {
    display: flex;
}

td, th {
    flex-grow: 1;
    text-align: center;
}

thead, tbody{
    display: block;
}

.mx {
    max-width: 200px;
    overflow: hidden;
}

canvas {
    display: block;
}
